/docs-site/node_modules/
bin
dist
.cursor
.qoder
.vscode
/ai-dev-sop.iml
/tmp/
.flattened-pom.xml
target
.DS_Store
example
.github
.vitepress
prev_dom
/tools/cbmem-team/stderr.log
/tools/cbmem-team/stdout.log
skills
/tools/codebase-memory-mcp/
/tools/mempalace/
